# exclude everything
__pycache__
.ipynb_checkpoints/*
crawler/json/*
test.*
*.log
crawler/crawls/*

# exception to the rule
!crawler/json/tripadvisor-graphql-query.json
!crawler/json/tripadvisor_attr_href_cat.json
!crawler/json/tripadvisor_hotel_href.json